* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul[role=list],
ol[role=list] {
    list-style: none;
}

:root {
    --fs-h1: 5rem;

    --c-purple: rgb(138, 43, 226);
    --c-purple-light: rgb(214, 169, 255);
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;

    overflow: hidden;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    text-shadow: 0 3px 6px black;
}

h2, p, a, blockquote {
    text-shadow: 0 2px 3px black;
}

a, a:link, a:visited {
    color: var(--c-purple);
}

a:hover {
    color: var(--c-purple-light);
}

img, picture, svg {
    max-width: 100%;
    display: block;
}

/* Background
========================================================================================== */
.background {
    position: fixed;

    width: 100%;
    height: 100vh;

    background: rgb(0,63,79);
    background: linear-gradient(339deg, rgba(0,63,79,1) 0%, rgba(0,170,173,1) 100%);

    z-index: -10;
}

/* Canvas
========================================================================================== */
#canvas1 {
    position: fixed;
    width: 100%;
    height: 100vh;

    z-index: -1;
}

@media screen and (max-width: 800px) {
    #canvas1 {
        display: none;
    }
}

/* Height */
@media screen and (max-height: 800px) {
    #canvas1 {
        display: none;
    }
}


/* Nav
========================================================================================== */
.navigation {
    position: fixed;
    right: 0;

    display: flex;
    gap: 2rem;

    margin: 2rem;

    z-index: 50;
}

.navigation button {
    padding: 0.5rem;

    font-size: 2rem;
    color: var(--c-purple);
    background: none;
    border: 2px solid transparent;
    border-radius: 50px;

    transition: 200ms ease-in-out;
    cursor: pointer;
}

.navigation i {
    display: none;

    padding: 1rem 0;
    width: 100%;

    font-size: 3rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);

    cursor: pointer;
}

.navigation button:hover {
    color: var(--c-purple-light);
    border: 2px solid var(--c-purple-light);
    box-shadow: 0 0 5px 1px var(--c-purple-light);
}

@media screen and (max-width: 800px) {
    .navigation {
        right: 50%;
        transform: translateX(50%);
        margin: 0;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;

        width: 100%;
    }

    .navigation button {
        display: none;

        width: 100%;

        font-size: 4rem;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 0;
    }

    .navigation i {
        display: block;
    }

    .navigation i[data-selected] ~ button {
        display: block;
    }
}

/* Height */
@media screen and (max-height: 600px) and (max-width: 915px) {
    .navigation {
        right: 50%;
        transform: translateX(50%);
        margin: 0;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;

        width: 100%;
    }

    .navigation button {
        display: none;

        width: 100%;

        font-size: 4rem;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 0;
    }

    .navigation i {
        display: block;
    }

    .navigation i[data-selected] ~ button {
        display: block;
    }
}

@media screen and (max-height: 450px) and (max-width: 915px) {
    .navigation {
        align-items: flex-start;

        right: 0;
        left: 0;
        transform: translateX(0);

        width: 100px;
    }

    .navigation button {
        display: none;

        width: 100%;

        font-size: 3rem;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 0;
    }

    .navigation i[data-selected] ~ button {
        width: 400px;
    }
}

/* Section
========================================================================================== */
section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: -webkit-fill-available;

    scroll-snap-type: y mandatory;
    transition: 1s ease-in-out;
}

/* For firefox, for some reason the firefox version of fill-available didn't work  */
@supports (-moz-appearance:none) {
    section {
        width: 100%;
        min-height: 100vh;
    }
}

/* Intro Section
========================================================================================== */
.intro {
    position: relative;
}

.intro h1, .intro h2, .intro picture {
    user-select: none;
    overflow: hidden;
}

.intro h1, .intro h2 {
    user-select: none
}

.intro h1 {
    font-size: var(--fs-h1);
}

/* intro-transition-left */
.intro-transition-left {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro-transition-left h1 span, .intro picture img {
    transform: translateY(100%);
}

.intro-transition-left h1 span {
    display: inline-block;
}

/* intro-profile */
.intro-profile {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
}

.intro-profile .intro-profile-title {
    display: inline-block;

    transform: translateX(120%);
}

/* Scroll Down */
.intro .scroll-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    opacity: 0;
}

.intro .scroll-down p {
    margin-bottom: 1rem;

    font-size: 2rem;
    letter-spacing: 10px;

    cursor: default;
}

.intro .scroll-down i {
    font-size: 2rem;
}

@media screen and (max-width: 1730px) {
    .intro-profile {
        left: 65%;
    }
}

@media screen and (max-width: 1150px) {
    .intro {
        flex-direction: column;
    }

    .intro .scroll-down p {
        font-size: 1rem;
    }

    .intro-profile {
        top: 75%;
        left: 50%;
        transform: translateX(-50%);

        text-align: center;
    }

    .intro-profile h1 .intro-profile-title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .intro-profile h2 .intro-profile-title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .intro .scroll-down p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 370px) {
    .intro .scroll-down p {
        letter-spacing: 5px;
    }

    .scroll-down {
        left: 0;
    }
}

/* Height */
@media screen and (max-height: 860px) and (max-width: 915px) {
    .intro picture {
        max-width: 400px;
    }
}

@media screen and (max-height: 800px) and (max-width: 915px) {
    .intro picture {
        max-width: 200px;
    }

    .intro-profile {
        top: 65%;
    }
}

@media screen and (max-height: 600px) and (max-width: 915px) {
    .intro-title {
        font-size: 3rem;
    }

    .intro-profile h1 {
        line-height: 4rem;
    }

    .intro .scroll-down {
        left: 20%;
    }
}

/* My Projects Section
========================================================================================== */
.my-projects {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.my-projects-title, .my-projects-text {
    overflow: hidden;
}

.my-projects h1 {
    font-size: var(--fs-h1);
}

.my-projects h1 span, .my-projects p span {
    display: inline-block;
    transform: translateY(100%);
}

.my-projects-text {
    margin-bottom: 2rem;

    font-size: 2rem;
}

.my-projects p a {
    font-weight: 700;

    transition: 200ms ease-in-out;
}

@media screen and (max-width: 460px) {
    .my-projects h1 {
        font-size: 3rem;
    }
}

/* Height */
@media screen and (max-height: 600px) and (max-width: 915px) {
    .my-projects h1 {
        font-size: 4rem;
    }  

    .my-projects p {
        margin: 0.5rem;
    }
}

@media screen and (max-height: 580px) and (max-width: 915px) {
    .my-projects {
        height: 100%;
    }

    .my-projects h1 {
        font-size: 2rem;
    }  

    .my-projects p {
        margin: 0;
        font-size: 1.5rem;
    }
}

/* My Projects Grid
========================================================================================== */
.my-projects-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}
 
.project {
    width: 250px;
    aspect-ratio: 1;

    border-radius: 100%;

    opacity: 0;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.project:active {
    filter: brightness(0.5);
}

.project > div {
    position: relative;

    width: 100%;
    height: 100%;
}

.project .project-grid-img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    transition: 200ms ease-in-out;
}

.project:hover .project-grid-img {
    transform: scale(1.2);
}

.project-grid-hover-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.8);
    border-radius: 100%;

    transition: 200ms ease-in-out;
    transform: scale(0);

    overflow: hid;
}

.project:hover .project-grid-hover-bg {
    transform: scale(1);
}

.project-grid-hover-bg p {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: 1.5rem;
    color: white;
    text-align: center;
}

@media screen and (max-width: 1380px) {
    .project {
        width: 100%;
    }
}

@media screen and (max-width: 880px) {
    .my-projects-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: .5rem;

        width: 600px;
    }

    .project {
        border-radius: 0;
    }

    .project-grid-hover-bg {
        border-radius: 0;

        background: rgba(0, 0, 0, 0.5);
        transform: scale(1);
    }

    .project-grid-hover-bg .project-grid-hover-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .my-projects-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;

        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .my-projects-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;

        width: 100%;
    }
}

/* Height */
@media screen and (max-height: 600px) and (max-width: 915px) {
    .my-projects-grid {
        gap: 1rem;
    }

    .project {
        width: 160px;

        border-radius: 0;
    }
}

@media screen and (max-height: 530px) and (max-width: 915px) {
    .my-projects-grid {
        gap: 0.1rem;
    }

    .project {
        width: 140px;
    }
}

/* Card Container
========================================================================================== */
.card-container {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    text-align: left;
    background: rgba(0, 0, 0, 0.8);

    animation: popupFadeIn 500ms forwards;
    z-index: 100;
}

@keyframes popupFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card-container.hidden {
    display: none;
}

.project-card {
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 3rem;
    max-width: 1200px;
    width: 100%;
    height: 800px;
    max-height: 100%;

    background: linear-gradient(339deg, rgba(0,63,79,1) 0%, rgba(0,170,173,1) 100%);
    box-shadow: 0 0 20px 1px black;
    border-radius: 10px;
}

.project-card > div {
    position: relative;

    height: 100%;

    border-radius: 10px;
    
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

.project-card-hover-bg {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.8);
    border-radius: 100%;

    transform: scale(0);
    transition: 200ms ease-in-out;
}

.project-card > div:hover .project-card-hover-bg {    
    border-radius: 0;

    transform: scale(1);
}

.project-card-hover-bg .project-card-hover-text {
    padding: 2rem;

    font-size: 5rem;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 100px;

    transition: 200ms ease-in-out;
}

.project-card-hover-text:hover {
    color: var(--c-purple);
    border: 2px solid var(--c-purple);
    box-shadow: 0 0 10px 5px var(--c-purple);
}

.project-card-hover-text:active {
    filter: brightness(2);
    transition: none;
}

.project-card h1 {
    font-size: 3rem;
}

.project-card p {
    font-size: 2rem;
}

.project-card-close {
    position: absolute;
    top: 0;
    right: 0;

    padding: 1rem 1rem 0 0;

    color: var(--c-purple);
    background: transparent;
    border: none;

    cursor: pointer;
    transition: 200ms ease-in-out;
}

.project-card-close:hover {
    color: var(--c-purple-light);
}

.project-card-close i {
    font-size: 2rem;
}

@media screen and (max-width: 930px) {
    .project-card h1 {
        font-size: 2rem;
    }
    
    .project-card p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .project-card {
        padding: 5rem 1rem;
    }

    .project-card-close {
        top: 10px;
        right: 50%;
        transform: translateX(50%);
    
        padding: 0;
    }

    .project-card-close i {
        font-size: 4rem;
    }
}

@media screen and (max-width: 420px) {
    .project-card-hover-bg .project-card-hover-text {
        padding: 1rem;
    
        font-size: 4rem;
    }
}

/* About Me
========================================================================================== */
.about-me {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.about-me h1, .about-me p {
    overflow: hidden;
}

.about-me h1 span, .about-me p span {
    display: inline-block;
    transform: translateY(110%);
}

.about-me h1 {
    font-size: var(--fs-h1);
}

.about-me p {
    margin-bottom: 1rem;
    max-width: 1200px;
    width: 100%;

    font-size: 2rem;
}

.about-me blockquote {
    opacity: 0;
}

.about-me blockquote::before {
    content: open-quote;
}

.about-me blockquote::after {
    content: close-quote;
}

@media screen and (max-width: 600px) {
    .about-me h1 {
        font-size: 4rem;
    }

    .about-me p {    
        font-size: 1.5rem;
    }
}

/* Height */
@media screen and (max-height: 660px) and (max-width: 915px) {
    .about-me h1 {
        font-size: 4rem;
    }

    .about-me p {
        margin-bottom: 1rem;
        max-width: 1200px;
        width: 100%;
    
        font-size: 1.5rem;
    }
}

/* Comments
========================================================================================== */
.comments {
    display: flex;
    flex-direction: column;
}

.comments h1 {
    font-size: var(--fs-h1);

    overflow: hidden;
}

.comments .comments-title {
    display: inline-block;
    transform: translateY(100%);
}

.comments-grid-container {
    display: flex;
    gap: 1rem;

    text-align: center;
}

.comments-grid-container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 2rem;
    max-width: 500px;
    width: 100%;
    aspect-ratio: 1;

    opacity: 0;
    overflow: hidden;
    transition: 200ms ease-in-out;
}

.card h3 {
    margin-bottom: .5rem;
    width: 100%;

    font-size: 2rem;
    text-decoration: underline;
}

.card p {
    padding: 0 1rem;

    font-size: 1.2rem;
}

.card p::before {
    content: open-quote;
}

.card p::after {
    content: close-quote;
}

@media screen and (max-width: 1300px){
    .comments-grid-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comments-grid-container .card {
        aspect-ratio: 0;
    }
}

@media screen and (max-width: 500px){
    .comments-grid-container {
        gap: 0;
    }

    .comments-title {
        font-size: 3rem;
    }

    .comments-grid-container .card {
        padding: 0;
    }

    .card h3 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1rem;
    }
}

/* Height */
@media screen and (max-height: 1130px) and (max-width: 915px) {
    .comments-grid-container .card {
        padding: 1rem;
    }
}

@media screen and (max-height: 1000px) and (max-width: 915px) {
    .comments-grid-container .card {
        padding: 0;
    }
}

@media screen and (max-height: 900px) and (max-width: 915px) {
    .comments-grid-container {
        flex-direction: row;
    }

    .card p {
        font-size: 1rem;
    }
}

@media screen and (max-height: 600px) and (max-width: 915px) {
    .comments-title {
        font-size: 3rem;
    }

    .card p {
        padding: 0;
    }
}

@media screen and (max-height: 500px) and (max-width: 915px) {
    .comments h1 {
        display: none;
    }
}